name: Build & Deploy (Loopia)

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install & Build
        env:
          VITE_SHEET_ID: ${{ secrets.VITE_SHEET_ID }}
          VITE_SHEET_GID: ${{ secrets.VITE_SHEET_GID }}
        run: |
          npm ci
          npm run build

      - name: Deploy to non-www domain
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          port: 21
          local-dir: dist/
          server-dir: bojovichwinetasting.rs/public_html/
          dangerous-clean-slate: false
          exclude: |
            img/**

      - name: Deploy to www domain
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          port: 21
          local-dir: dist/
          server-dir: www.bojovichwinetasting.rs/public_html/
          dangerous-clean-slate: false
          exclude: |
            img/**
